<h1>Time Dilation</h1>
<p>What is Time Dilation?</p>

<%= form_tag(time_dilation_time_dilation_path) do %>
    <%= label_tag('Velocity:') %>
    <%= text_field_tag(:velocity) %>
    <%= label_tag('Time:') %>
    <%= text_field_tag(:delta_t) %>
    <%= submit_tag 'Dilate' %>
    <%= text_field_tag('answer', @dt_p) %>

<% end %>