<head xmlns="http://www.w3.org/1999/html">

  <title>Time Dilation</title>
</head>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Free Fall</h1>
      <p>Free fall motion explanation</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" id="free_fall_form">
      <%= form_tag(projectile_free_fall_path) do %>
        <%= label_tag('Starting value of x (m):') %>
        <%= text_field_tag(:x_0) %></br>
        <%= label_tag('Initial velocity (m/s):') %>
        <%= text_field_tag(:v_0) %></br>
        <%= label_tag('Starting time (usually 0) (s):') %>
        <%= text_field_tag(:t_0) %></br>
        <%= submit_tag 'Compute' %></br>
        <%= label_tag('Time it takes to hit the ground (s):') %></br>
        <%= text_field_tag('answer', @hit.round(2)) %>
      <% end %>
    </div>
    <div class="col-md-6"></div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= high_chart("some_id", @graph) %>
    </div>
    <div class="col-md-6">
      <table class="table table-striped">
        <tr>
          <td>Time (s)</td>
          <td>Height (m)</td>
        </tr>
        <% @x_t.each do |x| %>
            <tr>
              <td><%= x[0] %></td>
              <td><%= x[1] %></td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>