<head xmlns="http://www.w3.org/1999/html">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <title>Time Dilation</title>
</head>

<h1>Length Contraction</h1>
<p>What is Length Contraction?</p>

<%= form_tag(length_contraction_length_contraction_path) do %>
    <%= label_tag('Velocity:') %>
    <%= text_field_tag(:velocity) %>
    <%= label_tag('Length:') %>
    <%= text_field_tag(:length) %>
    <%= submit_tag 'Contract' %>
    <%= text_field_tag('answer', @dl) %>
<% end %>